*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
}

body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 1rem;
}

.red {
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.flash{
    background-color: wheat;
}

.userflash{
    background-color: green;
}